.picture-display {
  column-count: 3;
  column-gap: 16px;
}

@media (max-width: 1199px) {
  .picture-display {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .picture-display {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .picture-display {
    column-count: 1;
  }
}