.details-container {
  height: auto;
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  border: 2px solid red;
  .details-img {
    height: 400px;
    width: 100%;
    object-fit: fill;
  }
}
