@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");

.apod-container {
  height: auto;
  display: inline-block;
  margin-bottom: 16px;
  background-color: whitesmoke;
  width: auto;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  .apod-img {
    border-radius: 8px 8px 0 0;
    height: 400px;
    width: 100%;
    object-fit: fill;
  }
}

.apod-details {
  padding: 10px;

  .apod-title-container {
    display: flex;
    margin-bottom: 10px;
    font-weight: bolder;
    white-space: pre-wrap;
  }

  .apod-description {
    font-family: "Titillium Web", sans-serif;
  }

  .apod-button {
    margin-top: 8px;
  }
}
